

#main-image {
    width: 200px;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.list-flex {
    display: flex;
    flex-wrap: wrap;
}

.list {
    margin: 0px 40px;
    border: double;
    padding: 0px 20px;
    background-color:rgb(210, 131, 102);
}