* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:green;
}

#main-image {
    width: 200px;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
}

.list-flex {
    display: flex;
    flex-wrap: wrap;
}

.list {
    margin: 0px 40px;
    border: 4px solid black;
    padding: 0px 20px;
    background-color:rgb(210, 131, 102);
}